body{
  margin:0;
}
h1{
  margin:0;
  font-style: "Ubuntu";
  font-style: "Ubuntu";
  margin: 0;
  text-align:center;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.5;
  color: "white";
  color: #F7FBFC;
}
.filing{
  padding: 5% 10%;
  background-color:"white" ;
}
.p1{
  padding: 2% 8%;
}
.b1{
  text-align: center;
  padding: 20% 50%;
}
.cp{
  padding: 5% 5%;
}
.b2{
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 1% 3%;
}

.containerf{
  padding: 3% 5%;
  border-radius: 10px;
  text-align: left;
}

#main{
  width:100%;
  height:1000px;
  background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
  margin: 0;
}

h3{
  text-align:center
}

.title{
  padding-top: 20px;
}
